# @package __global__

defaults:
  - watermark/default
  - /augmentations/default
  - /model: watermark/sm_default
  - _self_

solver: sm_watermarking # standard name to load the solver using builders
sample_rate: 16000
channels: 1

dataset:
  train:
    num_samples: 16
    shuffle: true
    shuffle_seed: 0
    permutation_on_files: false
  valid:
    num_samples: 16
  evaluate:
    num_samples: 16
    segment_duration: 10
  generate:
    num_samples: 16
    return_info: true
    batch_size: 16
    segment_duration: 30

# solver hyperparameters
evaluate:
  every: 30
  num_workers: 1
generate:
  every: 30
  num_workers: 5
  audio:
    sample_rate: ${sample_rate}

# checkpointing schedule
checkpoint:
  save_last: true
  save_every: 1
  keep_last: 10
  keep_every_states: null

optim:
  epochs: 4
