# @package __global__

defaults:
  - watermark/default
  - /augmentations/default
  - /model: watermark/sm_ModNet_test
  - _self_

config_name : test_Modnet
solver: sm_watermarking # standard name to load the solver using builders
sample_rate: 16000
channels: 1

# solver hyperparameters
evaluate:
  every: 30
  num_workers: 1
generate:
  every: 30
  num_workers: 5
  audio:
    sample_rate: ${sample_rate}

# checkpointing schedule
checkpoint:
  save_last: true
  save_every: 5
  keep_last: 10
  keep_every_states: null

optim:
  epochs: 30
